<!-- Edit Event -->
<section>
  <div class="container">
    <!-- event Form -->
    <div>
      {{ edit_event_form }}
    </div>
    <!--/ End event Form -->
  </div>
</section>
<!--/ End Add New Event -->
